@charset "UTF-8";
/* CSS Document */

#masthead{
/*	background-color:#00bc9b;*/
		background-image: url("../images/mountains.jpg");
		background-position: center;
		background-size: cover;
}

#about{
/*	background-color: #00bc9b;*/
	background-image: url("../images/Abstract-blue_0.jpg");
	background-position: center;
	background-size: cover;
}
#footer{
	background-color:#1D3B55;
}

#Copy{
	background-color:#0E263A;
}